@forward 'header';

.font-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.font-list-pending {
  padding: 48px 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  opacity: .8;
  color: #232323;
}

.card {
  margin: 24px;
  padding: 24px 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 200ms ease;
  border: 1px solid transparent;
  cursor: pointer;
  padding-left: 32px;
  padding-bottom: 48px;
  margin-right: 16px;
  transition: 350ms ease;
  border-radius: 24px;
  border: 1px solid #e4e4e4;

  &:hover {
      .font-controls > div,
      .font-data,
      .font-data .font-count,
      .font-data .font-format {
        opacity: 1;
        transform: translateY(0);
        transition: 400ms ease 100ms;
      }
      .font-preview {
        width: 100%;
        opacity: 1;
        transition: opacity 300ms ease 150ms, transform 250ms ease;
        transform: translateY(0);
        &:after {
          opacity: 0;
        }
      }
  }
  .font-content {
    display: flex;
    margin-left: 24px;
    scale: .9;
    opacity: .8;
    flex: 1;
  }
  .font-name {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }
  .font-preview {
    font-size: 36px;
    text-wrap: nowrap;
    overflow: hidden;
    position: relative;
    opacity: .5;
    transition: opacity 150ms ease, transform 250ms ease;
    &:after {
      content: "";
      right: 0px;
      position: absolute;
      height: 100%;
      width: 120px;
      background: linear-gradient(to right, #00000000, white);
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(to top, rgba(255, 255, 255, 0.427), #00000000);
    }
  }
  .font-data {
    color: #232323;
    display: flex;
    margin-right: 24px;
    margin-left: 48px;
    transition: 200ms ease;
    border: 1px solid #d2d2d2b6;
    border-radius: 12px;
    padding: 8px 16px;
    margin: 0 12px 0 12px;
  }
  .font-count {
    font-size: 16px;
    opacity: .6;
    width: 24px;
  }
  .font-format {
    text-transform: lowercase;
    font-size: 14px;
    opacity: .6;
    margin-left: 24px;
    letter-spacing: 0.05em;

  }
  .font-controls {
    display: inline-flex;
    & > div {
      transition: 200ms ease;
      border: 1px solid #ccccccb6;
      border-radius: 12px;
      padding: 8px 16px;
      margin: 0 12px 0 12px;
      height: fit-content;
      opacity: .6;
    }
  }
}
